{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        Filtrer par langage :
        {% for language in languages %}
           <a href="{{ path('app_filtrer' ,{'languageID': language.id}) }}">{{ language }}</a>
        {% endfor %}
    </div>
    <div>{{ nbUser }} développeurs en base de données.</div>
    <table>
        {% for u in users %}
            <tr>
                <td>{{ u.pseudo }}</td>
                <td>{% for language in u.languages %}
                        {{ language }}
                    {% endfor %}</td>
                {% if app.user.friends.contains(u) %}
                    <td> <a href="{{ path('app_removefriend',{'user':u.id,'me':app.user.id}) }}">Retirer</a></td>
                {% else %}
                    <td> <a href="{{ path('app_addfriend',{'user':u.id ,'me':app.user.id}) }}">Ajouter</a></td>
                {% endif %}
                <td>Message</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
